# Output directories
/__pycache__/
output/
*.pyc
*.pyo
*.pyd

# Virtual environment
/venv/
/env/
/.venv/
/__pypackages__/

# PyTorch & TorchScript models
/models/*.pt
/models/*.pth
/models/*.onnx
/models/__pycache__/

# Development artifacts
*.log
*.tmp
*.bak
*_output.txt  # 新增忽略所有_output.txt结尾的输出文件

# IDE and editor files
.vscode/
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# Jupyter Notebooks
.ipynb_checkpoints/

# Distribution / build files
/dist/
/build/
*.egg-info/
